hr
{
background-color: white;
border-style:none;
width: 50%;
height:3px;
}

h1
{
color:#008080;
}

table
{
  colour:white;
}

img
{
  height:50;
  width:50;
}

body
{
  background-color:cyan;
}
#Andrew
{
 color: Red;
}
